<div class="header">
  <div>
    <h1 routerLink="">Contact List</h1>
  </div>
</div>
<div *ngIf="loading" class="loading">
  <app-loading text="Loading..."></app-loading>
</div>
<div *ngIf="!loading" class="backgroundCard">
  <mat-card>
    <mat-stepper linear="false">
      <mat-step>
        <ng-template matStepLabel>Fill out your name</ng-template>
        <div class="basicInput">
          <div class="topLine">
            <!-- NAME -->
            <app-input type="text" label="Name:" placeholder="Erick S. Cartman"></app-input>
            <!-- EMAIL -->
            <app-input type="text" label="Email:" placeholder="erickscart@gmail.com"></app-input>
            <!-- GENDER -->
            <div class="inputGender">
              <label for="input" class="labelGender">Pick your gender</label>
              <mat-radio-group value="male" class="radioGender">
                <mat-radio-button color="warn" value="male" id="male">Male</mat-radio-button>
                <mat-radio-button color="warn" value="female" id="female">Female</mat-radio-button>
                <mat-radio-button color="warn" value="other" id="other">
                  <app-input type="text" label="" placeholder="Other" width="125px"></app-input>
                </mat-radio-button>
              </mat-radio-group>
              <!--<mat-radio-group [(ngModel)]="tipoFiltro" aria-labelledby="example-radio-group-label">
                <mat-radio-button
                  *ngFor="let tipo of entradaFiltro"
                  [value]="tipo.toLowerCase()"
                  class="radioButtonFiltro">
                  {{ tipo }}
                </mat-radio-button>
              </mat-radio-group> -->
            </div>
          </div>
          <div style="margin-top: 15px; display: flex; align-items: center">
            <!-- PHONE -->
            <app-input
              name="phone"
              [ngModelInput]="contact.phone"
              (ngModelInputEvent)="onChangeInputSecure($event)"
              type="text"
              label="Phone:"
              mask="(00) 00000-0000||000-000-0000"
              placeholder="123-456-7890 or (11) 91234-5678"></app-input>

            <!-- BIRTHDAY -->
            <mat-form-field>
              <mat-label>Select your birthday</mat-label>
              <input matInput [max]="dateNow" [matDatepicker]="picker" />
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div style="display: flex; justify-content: end">
            <button mat-raised-button (click)="test()" color="primary">NEXT</button>
          </div>
        </div>
      </mat-step>
    </mat-stepper>
  </mat-card>
</div>
