<div class="header">
  <div>
    <h1 routerLink="/home">Contact List</h1>
  </div>
</div>
<div *ngIf="loading" class="loading">
  <app-loading text="Loading..."></app-loading>
</div>
<div *ngIf="!loading" class="backgroundCard">
  <mat-card>
    <mat-stepper [linear]="true" #stepper>
      <mat-step>
        <ng-template matStepLabel>Description</ng-template>
        <div class="basicInput">
          <div class="inputLine">
            <!-- NAME -->
            <!-- <input type="text" formControlName="name" /> -->
            <app-input
              name="name"
              type="text"
              label="Name:"
              placeholder="Erick S. Cartman"
              [(ngModelInput)]="newContact.name"></app-input>
            <!-- EMAIL -->
            <app-input
              [(ngModelInput)]="newContact.email"
              type="email"
              label="Email:"
              placeholder="erickscart@gmail.com"></app-input>
            <!-- GENDER -->
            <div class="inputGender">
              <label for="input">Pick your gender</label>
              <mat-radio-group value="male" class="radioGender" [(ngModel)]="newContact.gender">
                <!-- FIX GENDER -->
                <mat-radio-button color="warn" value="male" id="male">Male</mat-radio-button>
                <mat-radio-button color="warn" value="female" id="female">Female</mat-radio-button>
                <mat-radio-button color="warn" [value]="gender" id="other">
                  <app-input
                    [disabled]="newContact.gender === 'male' || newContact.gender === 'female'"
                    (ngModelInputChange)="changeGender($event)"
                    type="text"
                    label=""
                    placeholder="Other"
                    width="125px"></app-input>
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="inputLine">
            <!-- PHONE -->
            <app-input
              name="phone"
              [(ngModelInput)]="newContact.phone"
              type="text"
              label="Phone:"
              mask="(00) 00000-0000||000-000-0000"
              placeholder="123-456-7890 or (11) 91234-5678"></app-input>

            <!-- BIRTHDAY -->
            <div class="inputForm">
              <mat-form-field>
                <mat-label>Select birthday</mat-label>
                <input matInput [(ngModel)]="birthday" [max]="dateNow" [matDatepicker]="dp3" disabled />
                <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
                <mat-datepicker #dp3 disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="inputForm">
              <mat-form-field>
                <mat-label>Select this type </mat-label>
                <mat-select name="typeContact" [(value)]="newContact.type">
                  <mat-option *ngFor="let type of typesContact" [value]="type.value">
                    {{ type.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div style="display: flex; justify-content: end">
            <button mat-raised-button style="margin-right: 15px" routerLink="/home" color="">CANCEL</button>
            <button mat-raised-button matStepperNext color="primary">NEXT</button>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Address</ng-template>
        <div class="address">
          <!-- CORRIGIR -->
          <div class="firstLine">
            <div class="inputForm">
              <mat-form-field>
                <mat-label>Select your country </mat-label>
                <mat-select name="typeContact" [(value)]="newContact.localization!.country">
                  <mat-option *ngFor="let country of countrys" [value]="country.value">
                    <div class="options-country">
                      <img [src]="country.img" />
                      {{ country.viewValue }}
                    </div>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <app-input
              type="text"
              [(ngModelInput)]="newContact.localization!.zip"
              label="ZIP:"
              placeholder="20901"></app-input>
            <app-input
              type="text"
              [(ngModelInput)]="newContact.localization!.state"
              label="State:"
              placeholder="Maryland"></app-input>
          </div>
          <div class="secondLine">
            <app-input
              type="text"
              width="216px"
              [(ngModelInput)]="newContact.localization!.city"
              label="City:"
              placeholder="Silver Spring"></app-input>
            <app-input
              type="text"
              [(ngModelInput)]="newContact.localization!.address"
              label="Street:"
              placeholder="Normandy Dr"></app-input>
            <app-input
              type="text"
              [(ngModelInput)]="newContact.localization!.number"
              label="Number:"
              placeholder="119"></app-input>
          </div>
          <div class="thirdLine">
            <app-input
              type="text"
              [(ngModelInput)]="newContact.localization!.complement"
              label="Complement:"
              placeholder="Apartament 112"></app-input>
            <div style="display: flex">
              <button mat-raised-button style="margin-right: 15px" routerLink="/home" color="">CANCEL</button>
              <button mat-raised-button style="margin-right: 15px" (click)="submit()" color="primary">SUBMIT</button>
            </div>
          </div>
        </div>
      </mat-step>
    </mat-stepper>
    <!-- <div>
      <button mat-raised-button routerLink="/home" color="">CANCEL</button>
    </div> -->
  </mat-card>
</div>
