@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.header {
  font-family: 'Russo One', sans-serif;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 145px;

  h1 {
    cursor: pointer;
    color: rgb(19, 121, 146);
    font-size: 50px;
    margin: 0;
  }
}

mat-card {
  height: 400px;
  width: 1000px;
  padding: 25px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.backgroundCard {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;

  .inputLine {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }

  .basicInput {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .inputGender {
    border: 2px solid #1876c2;
    border-radius: 6px;

    label[for=input] {
      font-size: 0.9rem;
      color: #1876c2;
      font-weight: 700;
      position: relative;
      top: -11px;
      margin: 0 0 0 7px;
      padding: 0 3px;
      background: #424242;
    }
  }

  .radioGender {
    margin-bottom: 10px;
    display: flex;
    margin-top: -8px;
    align-items: center;
  }

  .inputForm {
    margin-top: 10px;
    border: 2px solid #1876c2;
    border-radius: 6px;

    mat-form-field {
      margin-bottom: -1.25em;
    }
  }

  .address {

    .firstLine {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      margin-top: 10px;
    }

    .secondLine {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      margin-top: 10px;
    }

    .thirdLine {
      align-items: end;
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 10px;
    }


  }
}

  .options-country{
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
      margin-right: 10px;
    }
  }
