@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.header{
  font-family: 'Russo One', sans-serif;
  background-color: #000621;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 145px;
  h1{
    cursor: pointer;
    color: rgb(19, 121, 146);
    font-size: 50px;
    margin: 0;
  }
  p {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 0;
  }
}


.table {
  border: 1px solid #110927;
  margin-top: 20px;
  width: 1000px;
}

.iconFlag {
  width: 27px;
}
